steps:
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-Dmaven.test.failure.ignore=true'
    displayName: 'Run API Tests'

  # Copy HTML UI next to JSON
  - script: |
      mkdir -p target/report
      cp report-ui/index.html target/report/
    displayName: 'Copy HTML report UI'

  # Publish combined report
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'target/report'
      artifact: 'API-Test-Report'
    displayName: 'Publish Custom HTML Report'
    condition: succeededOrFailed()
