trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-Dmaven.test.failure.ignore=true'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
    displayName: 'Run API Tests'

  - script: |
      npm install -g allure-commandline
      allure generate target/allure-results --clean -o allure-report
    displayName: 'Generate Allure Report'
    condition: succeededOrFailed()

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'allure-report'
      artifact: 'AllureReport'
    displayName: 'Publish Allure Report'
    condition: succeededOrFailed()
