trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Maven@3
    displayName: 'Run API Tests'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'

  # Fix: Use the correct path 'target/report' as shown in your IntelliJ screenshot
  - task: CopyFiles@2
    displayName: 'Stage Custom Report'
    inputs:
      SourceFolder: '$(Build.SourcesDirectory)/target/report'
      Contents: |
        index.html
        test-results.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/API_Automation_Report'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Report Artifact'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/API_Automation_Report'
      ArtifactName: 'AutomationIntelligenceReport'
      publishLocation: 'Container'