trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Maven@3
    displayName: 'Run API Tests'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
  # Fix: SourceFolder must match your 'target/report' folder seen in IntelliJ
  - task: CopyFiles@2
    displayName: 'Stage Automation Report for Artifacts'
    inputs:
      SourceFolder: '$(Build.SourcesDirectory)/target/report'
      Contents: |
        index.html
        test-results.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/API_Automation_Report'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Final Report'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/API_Automation_Report'
      ArtifactName: 'AutomationIntelligenceReport'
      publishLocation: 'Container'